html,
body {
  background: #f5f6f7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background: #fff;
  width: 35%;
  min-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

a,
button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

a,
button {
  cursor: pointer;
}

.pd-15 {
  padding: 15px;
}

.flex {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-fill {
  flex: 1;
}

.divider {
  background: #f5f5f5;
  height: 10px;
  width: 100%;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.section {
  width: 100%;
}


.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.form-group label {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px
}


input[type=text].form-control {

  border: 1px solid #e0e0e0;
  outline: none;
  line-height: 40px;
  height: 40px;
  border-radius: 6px;
  padding: 15px
}

input[type=text].form-control:hover,
input[type=text].form-control:focus {
  border-color: #03ac0e;
}

.btn {
  border-radius: 6px;
  border: none;
  line-height: 40px;
  height: 40px;
  padding: 0px 15px;
  font-size: 14px;
}

.btn-primary {
  background: #03ac0e;
  color: #fff;
}

.btn-secondary {
  background: #ff7800;
  color: #ffffff;
  z-index: 1;
}

.btn-full {
  width: 100%;
}

.btn-loadmore {
  border: 1px solid #eee;
  padding: 5px 15px;
  border-radius: 11px;
  margin-bottom: 15px;
}


/* ACTION BOTTOM SHEET */
.abs-overlay {
  background: #00000040;
  position: fixed;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3
}

.abs .title-fail {
  font-weight: bold;
  color: #e73434;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.abs-body {
  border-radius: 6px 6px 0px 0px;
  bottom: 0;
  z-index: 2;
  background: #fff;
  width: 560px;
  box-shadow: 0px 0px 3px 0px #bbb;
  padding: 15px;
  position: relative;
}

.abs-body .btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 18px;
  background: none;
}

.tab-bottom {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: #fff;
  width: 560px;
  box-shadow: 0px 0px 3px 0px #ddd;
  border-top: 1px solid #eaeaea;
  padding: 10px 15px;
}

.text-center {
  text-align: center !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-6 {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.message-success {
  color: #03ac0e;
  font-weight: bold;
}

.message-error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 560px) {
  .grid {
    width: 100%;
  }
}


.pokename {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  text-transform: capitalize;
}

.pokeimage {
  width: 100%;
  height: 125px;
  object-fit: contain;
}

.tabmenu {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eaeaea;
  box-shadow: 0px 0px 3px 0px #ddd;
  background: #fff;
  width: 560px;
  display: flex;
  padding: 7px 15px;
}

.tabmenu .item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  cursor: pointer;
}

.tabmenu span:hover {
  color: blue;
}

.tabmenu img {
  height: 20px;
  object-fit: contain;
  margin-bottom: 3px;
}

.tabmenu span {
  font-size: 13px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.navbar {
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 3px 0px #ddd;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  width: 35%;
  min-width: 560px;
  display: flex;
  z-index: 1;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;

}

.navbar .title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
}

.navbar .item {
  cursor: pointer;
}

@media(max-width:560px) {
  .tab-bottom,
  .navbar,
  .tabmenu,
  .abs-body,
  .main {
    width: 100% !important;
    min-width: unset !important;
  }

  .abs-overlay {
    left: 0;
    right: 0;
    width: 100% !important;
    min-width: unset !important;
  }
}